<!doctype html>
<html lang="en">
<head>
  <title>Oracle Mark</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">

  <link rel="stylesheet" href="../public/styles/styles.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
  <script type="text/javascript" src="../public/js/marks.js" async></script>
  <script type="text/javascript" src="../public/js/graph.js" async></script>
</head>

<body>
  <h1><span class="big-o">O</span>racle</h1>

  <section id="main-section">
    <div class="row">
      <div class="far-left">
      </div>
      <div class="left">
        Mark
      </div>
      <div class="right">
        Weight
      </div>
      <div class="far-right">
      </div>
    </div>
    <form id="marks-form">
    </form>
    <div class="row">
      <div class="far-left"></div>
      <div class="left"></div>
      <div class="right"></div>
      <div class="far-right">
        <button id="submit-button" type="submit"></button>
      </div>
    </div>
  </section>
  <div id="bar-chart">
  
</body>
</html>
